body{
    background-color: #202124;
    font-family: arial, sans-serif;
}

/* index.html and image.html */
.container1{
    text-align: end;
    margin-top: 1%;
    margin-right: 1%;
    word-spacing: 20px;
    
}

.container1>a, span{
    font-size: 14px;
    /* font-family: arial, sans-serif; */
    color: white;
    text-decoration: none;
}

.container1>a:hover{
    text-decoration: underline;
}

.btn {
    background-color: #46ccfb;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    /* font-family: arial, sans-serif; */
    cursor: pointer;
    border-radius: 8px;
}

/* Darker background on mouse-over */
.btn:hover {
background-color: RoyalBlue;
}

.container2{
    text-align: center;
    /* font-family: arial, sans-serif; */
    font-size: 30px;
    color: white;
}

.container3, input[type="text"], .submit
{    
    margin: auto; /* justify all margins */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    font-size: 14px;
    /* font-family: arial, sans-serif; */
    color: #bdc1c6;
}

input[type="text"] {
    border: 0.5px solid #5f6368;
    border-radius: 30px;
    
    height: 34px;
    font-size: 16px;
    flex: 100%;
    text-indent: 50px;

    background-color: transparent;
    color: #e8eaed;
    white-space: pre;

    padding: 0 0 10px 0;
}

input[type="text"]:hover {
    background-color: #5f6368;
}    

#adbtn {
    border-radius: 1px;
    height: 17px;
    font-size: 13px;
    text-indent: 10px;
}

input[type="submit"] {
    border: 1px solid #5f6368;
    border-radius: 8px;
    padding: 2%;
    background-color: #3c4043;
    color: white;
    font-size: 14px;
    text-align: center;

    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

input[type="submit"]:hover {
    background: black;
}

.container4 {
    margin-top: 15%;
    outline: 10px solid #171717; /*for seeing the block visually*/
    background-color: #171717;
    padding: 2%;

    color: white;
    font-size: 20px;
    /* font-family: arial, sans-serif; */
}

/* advance.html */
.flex-container {
    display: flex;
    align-items: stretch;
    color: white;
    /* outline: 2px solid white; */
    /* background-color: darkgreen; */
    /* border: 1px solid white; */
    margin: 1%;
}

.flex-container :nth-of-type(1) {
    /* flex-grow: 2; */
    flex: 0.75;
}

.flex-container :nth-of-type(2) {
    /* flex-grow: 7; */
    flex: 2;
}

.flex-container :nth-of-type(3) {
    /* flex-grow: 3; */
    flex: 1.5;
}
  
.flex-col3, .flex-col1 {
    background-color: #202124;
    color: white;
    font-size: 14px;
}

.flex-col3 {
    word-spacing: 20px;
    text-align: right;
}
.flex-col3>a {
    color: white;
    text-decoration: none;
}

.advance_open, .advance1, .advance2, .advance3 {
    color: white;
    text-indent: 1cm;
    padding: 0.5%;
}

.advance_open {
    font-size: 20px; 
    border-bottom: 1px solid white;
}
.advance1, .advance2 {
    font-size: 13px;
    
}

.advance3 {
    font-size: 10px;
}
